<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "dtd/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="errorLogFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/ps_aums_errors.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="error"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d  %-5p  [%c{1}] %m %n"/>
        </layout>
    </appender>

    <appender name="debugLogFile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/ps_aums_debug.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d  %-5p  [%c{1}] %m %n"/>
        </layout>
    </appender>

    <logger name="pl.execon.psaums">
        <level value="debug"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder">
        <level value="TRACE"/>
    </logger>

    <root>
        <level value="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="debugLogFile"/>
        <appender-ref ref="errorLogFile"/>
    </root>

</log4j:configuration>
